<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section>
  <h1>Lista de compras</h1>
  </section>
  
  <section>
  <h2>Lista de objetos a comprar:</h2>
    <ul>
      <li>1 arroba de arroz.</li>
      <li>1 libra de carne de res.</li>
      <li>1 libra de carne de cerdo.</li>
      <li>3 litros de aceite.</li>
      <li>2 cajas de cubitos maggi.</li>
      <li>1 funda grande de sal.</li> 
      <li>1 funda grande de azúcar.</li>
      <li>3 funditas de polvo para hornear.</li>
      <li>3 libras de uva.</li>
      <li>2 cajas de "Jugos ya".</li>
      </ul>
  </section>

  <section>
  <h2>Lista de cosas obtenidas:</h2>
    <ul>
      <li>1 arroba de arroz.</li>
      <li>1 libra de carne de res.</li>
      <li>1 libra de carne de cerdo</li>
      <li>3 litros de aceite.</li>
      <li>1 funda grande de sal.</li>
      <li>1 funda grande de azúcar.</li>
      </ul>
  </section>

  <section>
  <h2>Lista de cosas no obtenidas:</h2>
    <ul>
      <li>2 cajas de cubitos maggi.</li>
      <li>3 libras de uva.</li>
      <li>3 funditas de polvo para hornear.</li>
      <li>2 cajas de "Jugos ya".
    </ul>
</section> 
 
</body>
</html>